# Preprocesamiento de Datos con Python
## FES Aragón
### ICO
#### José Rodolfo Juan Gordillo Negrete

In [7]:
import pandas as pd

In [60]:
#url = 'https://es.wikipedia.org/wiki/ISO_3166-2:US'
url = 'https://es.wikipedia.org/wiki/Premier_League_2021-22'
df_html = pd.read_html(url)
print(type(df_html))
print("Numero de tablas en DF", len(df_html))
df_html

<class 'list'>
Numero de tablas en DF 78

[                               Premier League 2021-22  \
 0   El Brentford Community Stadium alberga partido...
 1                                     Datos generales
 2                                                Sede
 3                                          Asociación
 4                                           Categoría
 5                                               Fecha
 6                                             Edición
 7                                          TV oficial
 8                                            Palmarés
 9                                         Def. título
 10                                            Campeón
 11                                         Subcampeón
 12                                            Tercero
 13                                      Mejor jugador
 14                                      Mejor portero
 15                                 Datos estadísticos
 16                                      Participantes
 17                                           Partidos
 18                                              Goles
 19                                           Goleador
 20                      Clasificación a otros torneos
 21  Liga de Campeones de la UEFA Manchester CityLi...
 22                       Liga de Campeones de la UEFA
 23                             Liga Europa de la UEFA
 24                 Liga Europa Conferencia de la UEFA
 25                              Intercambio de plazas
 26                                       Descenso(s):
 27                                         Cronología
 28  Premier League2020-21 Premier League2021-22 Pr...
 29                              Premier League2020-21
 30                                      Sitio oficial
 31                         [editar datos en Wikidata]

                              Premier League 2021-22.1  \
 0   El Brentford Community Stadium alberga partido...
 1                                     Datos generales
 2                                          Inglaterra
 3                                                UEFA
 4                                   Primera Categoría
 5              13 de agosto de 202122 de mayo de 2022
 6                                                 XXX
 7   Sky Sports & BT Sport (partidos en vivo)Sky Sp...
 8                                            Palmarés
 9                               Manchester City F. C.
 10                          Manchester City F. C. (8)
 11                                    Liverpool F. C.
 12                                      Chelsea F. C.
 13                                    Kevin De Bruyne
 14                                    Alisson Ederson
 15                                 Datos estadísticos
 16                                         20 equipos
 17                                                380
 18                           1,071 (2.82 por partido)
 19             Mohamed Salah Son Heung-min (23 goles)
 20                      Clasificación a otros torneos
 21  Liga de Campeones de la UEFA Manchester CityLi...
 22   Manchester CityLiverpoolChelseaTottenham Hotspur
 23                           ArsenalManchester United
 24                                    West Ham United
 25                              Intercambio de plazas
 26                        Burnley WatfordNorwich City
 27                                         Cronología
 28  Premier League2020-21 Premier League2021-22 Pr...
 29                              Premier League2021-22
 30                                      Sitio oficial
 31                         [editar datos en Wikidata]

                              Premier League 2021-22.2
 0   El Brentford Community Stadium alberga partido...
 1                                     Datos generales
 2                                          Inglaterra
 3                                                UEFA
 4                                   Primera Categoría
 5              13 de agosto de 202122 de mayo de 2022
 6                                                 XXX
 7   Sky Sports & BT Sport (partidos en vivo)Sky Sp...
 8                                            Palmarés
 9                               Manchester City F. C.
 10                          Manchester City F. C. (8)
 11                                    Liverpool F. C.
 12                                      Chelsea F. C.
 13                                    Kevin De Bruyne
 14                                    Alisson Ederson
 15                                 Datos estadísticos
 16                                         20 equipos
 17                                                380
 18                           1,071 (2.82 por partido)
 19             Mohamed Salah Son Heung-min (23 goles)
 20                      Clasificación a otros torneos
 21  Liga de Campeones de la UEFA Manchester CityLi...
 22                                                NaN
 23                                                NaN
 24                                                NaN
 25                              Intercambio de plazas
 26                        Burnley WatfordNorwich City
 27                                         Cronología
 28  Premier League2020-21 Premier League2021-22 Pr...
 29                             Premier League 2022-23
 30                                      Sitio oficial
 31                         [editar datos en Wikidata]  ,
                                     0  \
 0        Liga de Campeones de la UEFA
 1              Liga Europa de la UEFA
 2  Liga Europa Conferencia de la UEFA

                                                   1
 0  Manchester CityLiverpoolChelseaTottenham Hotspur
 1                          ArsenalManchester United
 2                                   West Ham United  ,
                        0                      1                       2
 0  Premier League2020-21  Premier League2021-22  Premier League 2022-23,
                                                    0  \
 0  Pos. Descendidos de Premier League 2020-21 18....
 1                                               Pos.
 2                                               18.º
 3                                               19.º
 4                                               20.º
 5                                               Pos.
 6                                                1.º
 7                                                2.º
 8                                              Prom.

                                                    1
 0  Pos. Ascendidos de la Championship 2020-21 1.º...
 1              Descendidos de Premier League 2020-21
 2                                             Fulham
 3                               West Bromwich Albion
 4                                   Sheffield United
 5              Ascendidos de la Championship 2020-21
 6                                       Norwich City
 7                                            Watford
 8                                          Brentford  ,
    Pos. Descendidos de Premier League 2020-21
 0  18.º                                Fulham
 1  19.º                  West Bromwich Albion
 2  20.º                      Sheffield United,
     Pos. Ascendidos de la Championship 2020-21
 0    1.º                          Norwich City
 1    2.º                               Watford
 2  Prom.                             Brentford,
                      Equipo           Ciudad  \
 0                   Arsenal          Londres
 1               Aston Villa       Birmingham
 2                 Brentford          Londres
 3    Brighton & Hove Albion  Brighton & Hove
 4                   Burnley          Burnley
 5                   Chelsea          Londres
 6            Crystal Palace          Londres
 7                   Everton        Liverpool
 8              Leeds United            Leeds
 9            Leicester City        Leicester
 10                Liverpool        Liverpool
 11          Manchester City       Mánchester
 12        Manchester United       Mánchester
 13         Newcastle United        Newcastle
 14             Norwich City          Norwich
 15              Southampton      Southampton
 16        Tottenham Hotspur          Londres
 17                  Watford          Watford
 18          West Ham United          Londres
 19  Wolverhampton Wanderers    Wolverhampton

                                          Entrenador              Capitán  \
 0                                  Mikel Arteta[1]​  Alexandre Lacazette
 1                               Steven Gerrard [2]​         Tyrone Mings
 2                                      Thomas Frank       Pontus Jansson
 3                                 Graham Potter[3]​           Lewis Dunk
 4   Conor King [4]​INT Paul Jenkins INT Ben Mee INT              Ben Mee
 5                                 Thomas Tuchel[6]​    César Azpilicueta
 6                                Patrick Vieira[7]​     Luka Milivojević
 7                                 Frank Lampard[8]​       Séamus Coleman
 8                                  Jesse Marsch[9]​          Liam Cooper
 9                              Brendan Rodgers[10]​    Kasper Schmeichel
 10                                Jürgen Klopp[11]​     Jordan Henderson
 11                               Pep Guardiola[12]​          Fernandinho
 12                               Ralf Rangnick[13]​        Harry Maguire
 13                                  Eddie Howe[14]​     Jamaal Lascelles
 14                                  Dean Smith[15]​         Grant Hanley
 15                            Ralph Hasenhüttl[16]​    James Ward-Prowse
 16                               Antonio Conte[17]​          Hugo Lloris
 17                                Roy Hodgson [18]​           Ben Foster
 18                                 David Moyes[20]​           Mark Noble
 19                                       Bruno Lage          Conor Coady

                         Estadio Capacidad    Marca Patrocinador (Pecho)  \
 0              Emirates Stadium    60 260   Adidas         Fly Emirates
 1                    Villa Park    42 790    Kappa                Cazoo
 2   Brentford Community Stadium    17 250    Umbro        Hollywoodbets
 3                  Amex Stadium    30 666     Nike     American Express
 4                     Turf Moor    21 944    Umbro  Spreadex Sports[5]​
 5               Stamford Bridge    40 853     Nike                Three
 6                 Selhurst Park    25 486     Puma                  W88
 7                 Goodison Park    39 221   Hummel                Cazoo
 8                   Elland Road    37 890   Adidas               SBOTOP
 9            King Power Stadium    32 273   Adidas                  FBS
 10                      Anfield    53 394     Nike   Standard Chartered
 11               Etihad Stadium    55 017     Puma       Etihad Airways
 12                 Old Trafford    74 879   Adidas           TeamViewer
 13               St James' Park    52 354  Castore                Fun88
 14                  Carrow Road    27 244     Joma                Lotus
 15            St Mary's Stadium    32 384   Hummel         Sportsbet.io
 16    Tottenham Hotspur Stadium    62 062     Nike                  AIA
 17                Vicarage Road    20 400    Kelme       Stake.com[19]​
 18               London Stadium    60 000    Umbro               Betway
 19             Molineux Stadium    32 050  Castore              ManBetX

    Patrocinador (Manga)
 0          Visit Rwanda
 1             OB Sports
 2         Safetyculture
 3           Snickers UK
 4              AstroPay
 5               Hyundai
 6                Iqoniq
 7                   NaN
 8                  BOXT
 9            Bia Saigon
 10              Expedia
 11           Nexen Tire
 12               Kohler
 13                Kayak
 14            JD Sports
 15         Virgin Media
 16                Cinch
 17             Dogecoin
 18        Scope Markets
 19            Bitci.com  ,
                                              0
 0  Datos actualizados a 27 de febrero de 2022.,
                      Equipo               Entrenador (Jornadas)  \
 0   Wolverhampton Wanderers  Nuno Espírito Santo (Pretemporada)
 1                   Everton      Carlo Ancelotti (Pretemporada)
 2         Tottenham Hotspur       Ryan Mason INT (Pretemporada)
 3            Crystal Palace          Roy Hodgson (Pretemporada)
 4                   Watford                 Xisco Muñoz (1 - 7)
 5          Newcastle United                 Steve Bruce (1 - 8)
 6         Tottenham Hotspur        Nuno Espírito Santo (1 - 10)
 7              Norwich City               Daniel Farke (1 - 11)
 8               Aston Villa                 Dean Smith (1 - 11)
 9          Newcastle United           Graeme Jones INT (9 - 11)
 10        Manchester United        Ole Gunnar Solskjær (1 - 12)
 11        Manchester United         Michael Carrick INT (13-14)
 12                  Everton               Rafa Benítez (1 - 22)
 13                  Watford            Claudio Ranieri (8 - 23)
 14                  Everton            Duncan Ferguson INT (23)
 15             Leeds United             Marcelo Bielsa (1 - 26)
 16                  Burnley                 Sean Dyche (1 - 30)

                                Salida                        Tipo  \
 0             21 de mayo de 2021[21]​               Mutuo acuerdo
 1            10 de junio de 2021[23]​  Fichado por el Real Madrid
 2            30 de junio de 2021[25]​          Fin de interinidad
 3             23 de mayo de 2021[27]​                      Retiro
 4           3 de octubre de 2021[29]​                   Despedido
 5          20 de octubre de 2021[31]​               Mutuo acuerdo
 6         1 de noviembre de 2021[32]​                   Despedido
 7         7 de noviembre de 2021[33]​                   Despedido
 8         7 de noviembre de 2021[35]​                   Despedido
 9         8 de noviembre de 2021[31]​          Fin de interinidad
 10  21 de noviembre de 2021[36]​[37]​                   Despedido
 11       29 de noviembre de 2021[13]​          Fin de interinidad
 12           16 de enero de 2022[39]​                   Despedido
 13           24 de enero de 2022[41]​                   Despedido
 14          24 de enero de 2022 [40]​          Fin de interinidad
 15         27 de febrero de 2022[43]​                   Despedido
 16      15 de abril de 2022[45]​[46]​                   Despedido

         Posición                                     Entrenador  \
 0   Pretemporada                                     Bruno Lage
 1   Pretemporada                                   Rafa Benítez
 2   Pretemporada                            Nuno Espírito Santo
 3   Pretemporada                                 Patrick Vieira
 4            14°                                Claudio Ranieri
 5            19°                               Graeme Jones INT
 6             8º                                  Antonio Conte
 7            20º                                     Dean Smith
 8            15º                                 Steven Gerrard
 9            19°                                     Eddie Howe
 10            8°                            Michael Carrick INT
 11            8°                              Ralf Rangnick INT
 12           16°                            Duncan Ferguson INT
 13           19°                                    Roy Hodgson
 14           16°                                  Frank Lampard
 15           16°                                   Jesse Marsch
 16           18º  Paul Jenkins INT Mike Jackson INT Ben Mee INT

                          Entrada
 0        9 de junio de 2021[22]​
 1       30 de junio de 2021[24]​
 2       30 de junio de 2021[26]​
 3        4 de julio de 2021[28]​
 4      4 de octubre de 2021[30]​
 5     20 de octubre de 2021[31]​
 6    2 de noviembre de 2021[17]​
 7   15 de noviembre de 2021[34]​
 8    11 de noviembre de 2021[2]​
 9    8 de noviembre de 2021[14]​
 10  21 de noviembre de 2021[38]​
 11  29 de noviembre de 2021[13]​
 12      18 de enero de 2022[40]​
 13      25 de enero de 2022[18]​
 14      31 de enero de 2022[42]​
 15    27 de febrero de 2022[44]​
 16      15 de abril de 2022[47]​  ,
                                                    0
 0  ArsenalAston VillaBrighton & Hove AlbionBurnle...,
                   Condado  N.º  \
 0            Gran Londres    6
 1         Gran Mánchester    2
 2              Merseyside    2
 3   Midlands Occidentales    2
 4               Hampshire    1
 5           Hertfordshire    1
 6              Lancashire    1
 7          Leicestershire    1
 8                 Norfolk    1
 9         Sussex Oriental    1
 10            Tyne y Wear    1
 11    Yorkshire del Oeste    1

                                               Equipos
 0   Arsenal, Brentford, Chelsea, Crystal Palace, T...
 1                 Manchester City y Manchester United
 2                                 Everton y Liverpool
 3               Aston Villa y Wolverhampton Wanderers
 4                                         Southampton
 5                                             Watford
 6                                             Burnley
 7                                      Leicester City
 8                                        Norwich City
 9                              Brighton & Hove Albion
 10                                   Newcastle United
 11                                       Leeds United  ,
     Pos.                   Equipo  Pts.  PJ   G   E   P  GF  GC Dif.  \
 0      1      Manchester City (C)    93  38  29   6   3  99  26  +73
 1      2                Liverpool    92  38  28   8   2  94  26  +68
 2      3                  Chelsea    74  38  21  11   6  76  33  +43
 3      4        Tottenham Hotspur    71  38  22   5  11  69  40  +29
 4      5                  Arsenal    69  38  22   3  13  61  48  +13
 5      6        Manchester United    58  38  16  10  12  57  57    0
 6      7          West Ham United    56  38  16   8  14  60  51   +9
 7      8           Leicester City    52  38  14  10  14  62  59   +3
 8      9   Brighton & Hove Albion    51  38  12  15  11  42  44   −2
 9     10  Wolverhampton Wanderers    51  38  15   6  17  38  43   −5
 10    11         Newcastle United    49  38  13  10  15  44  62  −18
 11    12           Crystal Palace    48  38  11  15  12  50  46   +4
 12    13                Brentford    46  38  13   7  18  48  56   −8
 13    14              Aston Villa    45  38  13   6  19  52  54   −2
 14    15              Southampton    40  38   9  13  16  43  67  −24
 15    16                  Everton    39  38  11   6  21  43  66  −23
 16    17             Leeds United    38  38   9  11  18  42  79  −37
 17    18              Burnley (D)    35  38   7  14  17  34  53  −19
 18    19              Watford (D)    23  38   6   5  27  34  77  −43
 19    20         Norwich City (D)    22  38   5   7  26  23  84  −61

                                 Clasificación 2022–23
 0              Fase de grupos de la Liga de Campeones
 1              Fase de grupos de la Liga de Campeones
 2              Fase de grupos de la Liga de Campeones
 3              Fase de grupos de la Liga de Campeones
 4                Fase de grupos de la Liga Europa[a]​
 5                Fase de grupos de la Liga Europa[a]​
 6   Ronda de Play-Off de la Liga Europa Conferenci...
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14                                                NaN
 15                                                NaN

In [53]:
print(type(df_html[0]))
df_html[0]

<class 'pandas.core.frame.DataFrame'>

,Premier League 2021-22,Premier League 2021-22.1,Premier League 2021-22.2
0,El Brentford Community Stadium alberga partido...,El Brentford Community Stadium alberga partido...,El Brentford Community Stadium alberga partido...
1,Datos generales,Datos generales,Datos generales
2,Sede,Inglaterra,Inglaterra
3,Asociación,UEFA,UEFA
4,Categoría,Primera Categoría,Primera Categoría
5,Fecha,13 de agosto de 202122 de mayo de 2022,13 de agosto de 202122 de mayo de 2022
6,Edición,XXX,XXX
7,TV oficial,Sky Sports & BT Sport (partidos en vivo)Sky Sp...,Sky Sports & BT Sport (partidos en vivo)Sky Sp...
8,Palmarés,Palmarés,Palmarés
9,Def. título,Manchester City F. C.,Manchester City F. C.
10,Campeón,Manchester City F. C. (8),Manchester City F. C. (8)
11,Subcampeón,Liverpool F. C.,Liverpool F. C.
12,Tercero,Chelsea F. C.,Chelsea F. C.
13,Mejor jugador,Kevin De Bruyne,Kevin De Bruyne
14,Mejor portero,Alisson Ederson,Alisson Ederson
15,Datos estadísticos,Datos estadísticos,Datos estadísticos
16,Participantes,20 equipos,20 equipos
17,Partidos,380,380
18,Goles,"1,071 (2.82 por partido)","1,071 (2.82 por partido)"
19,Goleador,Mohamed Salah Son Heung-min (23 goles),Mohamed Salah Son Heung-min (23 goles)
20,Clasificación a otros torneos,Clasificación a otros torneos,Clasificación a otros torneos
21,Liga de Campeones de la UEFA Manchester CityLi...,Liga de Campeones de la UEFA Manchester CityLi...,Liga de Campeones de la UEFA Manchester CityLi...
22,Liga de Campeones de la UEFA,Manchester CityLiverpoolChelseaTottenham Hotspur,NaN
23,Liga Europa de la UEFA,ArsenalManchester United,NaN
24,Liga Europa Conferencia de la UEFA,West Ham United,NaN
25,Intercambio de plazas,Intercambio de plazas,Intercambio de plazas
26,Descenso(s):,Burnley WatfordNorwich City,Burnley WatfordNorwich City
27,Cronología,Cronología,Cronología
28,Premier League2020-21 Premier League2021-22 Pr...,Premier League2020-21 Premier League2021-22 Pr...,Premier League2020-21 Premier League2021-22 Pr...
29,Premier League2020-21,Premier League2021-22,Premier League 2022-23
30,Sitio oficial,Sitio oficial,Sitio oficial
31,[editar datos en Wikidata],[editar datos en Wikidata],[editar datos en Wikidata]

In [59]:
df_html[6]

,Equipo,Ciudad,Entrenador,Capitán,Estadio,Capacidad,Marca,Patrocinador (Pecho),Patrocinador (Manga)
0,Arsenal,Londres,Mikel Arteta[1]​,Alexandre Lacazette,Emirates Stadium,60 260,Adidas,Fly Emirates,Visit Rwanda
1,Aston Villa,Birmingham,Steven Gerrard [2]​,Tyrone Mings,Villa Park,42 790,Kappa,Cazoo,OB Sports
2,Brentford,Londres,Thomas Frank,Pontus Jansson,Brentford Community Stadium,17 250,Umbro,Hollywoodbets,Safetyculture
3,Brighton & Hove Albion,Brighton & Hove,Graham Potter[3]​,Lewis Dunk,Amex Stadium,30 666,Nike,American Express,Snickers UK
4,Burnley,Burnley,Conor King [4]​INT Paul Jenkins INT Ben Mee INT,Ben Mee,Turf Moor,21 944,Umbro,Spreadex Sports[5]​,AstroPay
5,Chelsea,Londres,Thomas Tuchel[6]​,César Azpilicueta,Stamford Bridge,40 853,Nike,Three,Hyundai
6,Crystal Palace,Londres,Patrick Vieira[7]​,Luka Milivojević,Selhurst Park,25 486,Puma,W88,Iqoniq
7,Everton,Liverpool,Frank Lampard[8]​,Séamus Coleman,Goodison Park,39 221,Hummel,Cazoo,NaN
8,Leeds United,Leeds,Jesse Marsch[9]​,Liam Cooper,Elland Road,37 890,Adidas,SBOTOP,BOXT
9,Leicester City,Leicester,Brendan Rodgers[10]​,Kasper Schmeichel,King Power Stadium,32 273,Adidas,FBS,Bia Saigon
10,Liverpool,Liverpool,Jürgen Klopp[11]​,Jordan Henderson,Anfield,53 394,Nike,Standard Chartered,Expedia
11,Manchester City,Mánchester,Pep Guardiola[12]​,Fernandinho,Etihad Stadium,55 017,Puma,Etihad Airways,Nexen Tire
12,Manchester United,Mánchester,Ralf Rangnick[13]​,Harry Maguire,Old Trafford,74 879,Adidas,TeamViewer,Kohler
13,Newcastle United,Newcastle,Eddie Howe[14]​,Jamaal Lascelles,St James' Park,52 354,Castore,Fun88,Kayak
14,Norwich City,Norwich,Dean Smith[15]​,Grant Hanley,Carrow Road,27 244,Joma,Lotus,JD Sports
15,Southampton,Southampton,Ralph Hasenhüttl[16]​,James Ward-Prowse,St Mary's Stadium,32 384,Hummel,Sportsbet.io,Virgin Media
16,Tottenham Hotspur,Londres,Antonio Conte[17]​,Hugo Lloris,Tottenham Hotspur Stadium,62 062,Nike,AIA,Cinch
17,Watford,Watford,Roy Hodgson [18]​,Ben Foster,Vicarage Road,20 400,Kelme,Stake.com[19]​,Dogecoin
18,West Ham United,Londres,David Moyes[20]​,Mark Noble,London Stadium,60 000,Umbro,Betway,Scope Markets
19,Wolverhampton Wanderers,Wolverhampton,Bruno Lage,Conor Coady,Molineux Stadium,32 050,Castore,ManBetX,Bitci.com

In [63]:
df_html[8]

,Equipo,Entrenador (Jornadas),Salida,Tipo,Posición,Entrenador,Entrada
0,Wolverhampton Wanderers,Nuno Espírito Santo (Pretemporada),21 de mayo de 2021[21]​,Mutuo acuerdo,Pretemporada,Bruno Lage,9 de junio de 2021[22]​
1,Everton,Carlo Ancelotti (Pretemporada),10 de junio de 2021[23]​,Fichado por el Real Madrid,Pretemporada,Rafa Benítez,30 de junio de 2021[24]​
2,Tottenham Hotspur,Ryan Mason INT (Pretemporada),30 de junio de 2021[25]​,Fin de interinidad,Pretemporada,Nuno Espírito Santo,30 de junio de 2021[26]​
3,Crystal Palace,Roy Hodgson (Pretemporada),23 de mayo de 2021[27]​,Retiro,Pretemporada,Patrick Vieira,4 de julio de 2021[28]​
4,Watford,Xisco Muñoz (1 - 7),3 de octubre de 2021[29]​,Despedido,14°,Claudio Ranieri,4 de octubre de 2021[30]​
5,Newcastle United,Steve Bruce (1 - 8),20 de octubre de 2021[31]​,Mutuo acuerdo,19°,Graeme Jones INT,20 de octubre de 2021[31]​
6,Tottenham Hotspur,Nuno Espírito Santo (1 - 10),1 de noviembre de 2021[32]​,Despedido,8º,Antonio Conte,2 de noviembre de 2021[17]​
7,Norwich City,Daniel Farke (1 - 11),7 de noviembre de 2021[33]​,Despedido,20º,Dean Smith,15 de noviembre de 2021[34]​
8,Aston Villa,Dean Smith (1 - 11),7 de noviembre de 2021[35]​,Despedido,15º,Steven Gerrard,11 de noviembre de 2021[2]​
9,Newcastle United,Graeme Jones INT (9 - 11),8 de noviembre de 2021[31]​,Fin de interinidad,19°,Eddie Howe,8 de noviembre de 2021[14]​
10,Manchester United,Ole Gunnar Solskjær (1 - 12),21 de noviembre de 2021[36]​[37]​,Despedido,8°,Michael Carrick INT,21 de noviembre de 2021[38]​
11,Manchester United,Michael Carrick INT (13-14),29 de noviembre de 2021[13]​,Fin de interinidad,8°,Ralf Rangnick INT,29 de noviembre de 2021[13]​
12,Everton,Rafa Benítez (1 - 22),16 de enero de 2022[39]​,Despedido,16°,Duncan Ferguson INT,18 de enero de 2022[40]​
13,Watford,Claudio Ranieri (8 - 23),24 de enero de 2022[41]​,Despedido,19°,Roy Hodgson,25 de enero de 2022[18]​
14,Everton,Duncan Ferguson INT (23),24 de enero de 2022 [40]​,Fin de interinidad,16°,Frank Lampard,31 de enero de 2022[42]​
15,Leeds United,Marcelo Bielsa (1 - 26),27 de febrero de 2022[43]​,Despedido,16°,Jesse Marsch,27 de febrero de 2022[44]​
16,Burnley,Sean Dyche (1 - 30),15 de abril de 2022[45]​[46]​,Despedido,18º,Paul Jenkins INT Mike Jackson INT Ben Mee INT,15 de abril de 2022[47]​

In [64]:
i = 0
for dfh in df_html:
    print(str(i).center(60,"*"))
    dfh.info()
    i = i + 1

*****************************0******************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 3 columns):
Premier League 2021-22      32 non-null object
Premier League 2021-22.1    32 non-null object
Premier League 2021-22.2    29 non-null object
dtypes: object(3)
memory usage: 896.0+ bytes
*****************************1******************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
0    3 non-null object
1    3 non-null object
dtypes: object(2)
memory usage: 176.0+ bytes
*****************************2******************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 3 columns):
0    1 non-null object
1    1 non-null object
2    1 non-null object
dtypes: object(3)
memory usage: 152.0+ bytes
*****************************3******************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
0    9 non-null object
1    9 non-null object
dtypes: object(2)
memory usage: 272.0+ bytes
*****************************4******************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
Pos.                                     3 non-null object
Descendidos de Premier League 2020-21    3 non-null object
dtypes: object(2)
memory usage: 176.0+ bytes
*****************************5******************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
Pos.                                     3 non-null object
Ascendidos de la Championship 2020-21    3 non-null object
dtypes: object(2)
memory usage: 176.0+ bytes
*****************************6******************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
Equipo                  20 non-null object
Ciudad                  20 non-null object
Entrenador              20 non-null object
Capitán                 20 non-null object
Estadio                 20 non-null object
Capacidad               20 non-null object
Marca                   20 non-null object
Patrocinador (Pecho)    20 non-null object
Patrocinador (Manga)    19 non-null object
dtypes: object(9)
memory usage: 1.5+ KB
*****************************7******************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 1 columns):
0    1 non-null object
dtypes: object(1)
memory usage: 136.0+ bytes
*****************************8******************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 7 columns):
Equipo                   17 non-null object
Entrenador (Jornadas)    17 non-null object
Salida                   17 non-null object
Tipo                     17 non-null object
Posición                 17 non-null object
Entrenador               17 non-null object
Entrada                  17 non-null object
dtypes: object(7)
memory usage: 1.1+ KB
*****************************9******************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 1 columns):
0    1 non-null object
dtypes: object(1)
memory usage: 136.0+ bytes
*****************************10*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
Condado    12 non-null object
N.º        12 non-null int64
Equipos    12 non-null object
dtypes: int64(1), object(2)
memory usage: 416.0+ bytes
*****************************11*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
Pos.                     20 non-null int64
Equipo                   20 non-null object
Pts.                     20 non-null int64
PJ                       20 non-null int64
G                        20 non-null int64
E                        20 non-null int64
P                        20 non-null int64
GF                       20 non-null int64
GC                       20 non-null int64
Dif.                     20 non-null object
Clasificación 2022–23    10 non-null object
dtypes: int64(8), object(3)
memory usage: 1.8+ KB
*****************************12*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 39 columns):
(Equipo, Equipo)             20 non-null object
(1, Unnamed: 1_level_1)      20 non-null int64
(2, Unnamed: 2_level_1)      20 non-null int64
(3, Unnamed: 3_level_1)      20 non-null int64
(4, Unnamed: 4_level_1)      20 non-null int64
(5, Unnamed: 5_level_1)      20 non-null int64
(6, Unnamed: 6_level_1)      20 non-null int64
(7, Unnamed: 7_level_1)      20 non-null int64
(8, Unnamed: 8_level_1)      20 non-null int64
(9, Unnamed: 9_level_1)      20 non-null int64
(10, Unnamed: 10_level_1)    20 non-null int64
(11, Unnamed: 11_level_1)    20 non-null int64
(12, Unnamed: 12_level_1)    20 non-null int64
(13, Unnamed: 13_level_1)    20 non-null object
(14, Unnamed: 14_level_1)    20 non-null object
(15, Unnamed: 15_level_1)    20 non-null object
(16, Unnamed: 16_level_1)    20 non-null object
(17, Unnamed: 17_level_1)    20 non-null object
(18, Unnamed: 18_level_1)    20 non-null object
(19, Unnamed: 19_level_1)    20 non-null object
(20, Unnamed: 20_level_1)    20 non-null object
(21, Unnamed: 21_level_1)    20 non-null object
(22, Unnamed: 22_level_1)    20 non-null object
(23, Unnamed: 23_level_1)    20 non-null object
(24, Unnamed: 24_level_1)    20 non-null object
(25, Unnamed: 25_level_1)    20 non-null object
(26, Unnamed: 26_level_1)    20 non-null object
(27, Unnamed: 27_level_1)    20 non-null object
(28, Unnamed: 28_level_1)    20 non-null object
(29, Unnamed: 29_level_1)    20 non-null object
(30, Unnamed: 30_level_1)    20 non-null object
(31, Unnamed: 31_level_1)    20 non-null object
(32, Unnamed: 32_level_1)    20 non-null object
(33, Unnamed: 33_level_1)    20 non-null object
(34, Unnamed: 34_level_1)    20 non-null object
(35, Unnamed: 35_level_1)    20 non-null object
(36, Unnamed: 36_level_1)    20 non-null object
(37, Unnamed: 37_level_1)    20 non-null object
(38, Unnamed: 38_level_1)    20 non-null int64
dtypes: int64(13), object(26)
memory usage: 6.2+ KB
*****************************13*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 12 columns):
(Jornada 1, Local)                  10 non-null object
(Jornada 1, Resultado)              10 non-null object
(Jornada 1, Visitante)              10 non-null object
(Jornada 1, Estadio)                10 non-null object
(Jornada 1, Fecha)                  10 non-null object
(Jornada 1, Hora)                   10 non-null object
(Jornada 1, Unnamed: 6_level_1)     0 non-null float64
(Jornada 1, Unnamed: 7_level_1)     0 non-null float64
(Jornada 1, Unnamed: 8_level_1)     0 non-null float64
(Jornada 1, Unnamed: 9_level_1)     0 non-null float64
(Jornada 1, Unnamed: 10_level_1)    0 non-null float64
(Jornada 1, Unnamed: 11_level_1)    0 non-null float64
dtypes: float64(6), object(6)
memory usage: 1.1+ KB
*****************************14*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 12 columns):
(Jornada 2, Local)                  10 non-null object
(Jornada 2, Resultado)              10 non-null object
(Jornada 2, Visitante)              10 non-null object
(Jornada 2, Estadio)                10 non-null object
(Jornada 2, Fecha)                  10 non-null object
(Jornada 2, Hora)                   10 non-null object
(Jornada 2, Unnamed: 6_level_1)     0 non-null float64
(Jornada 2, Unnamed: 7_level_1)     0 non-null float64
(Jornada 2, Unnamed: 8_level_1)     0 non-null float64
(Jornada 2, Unnamed: 9_level_1)     0 non-null float64
(Jornada 2, Unnamed: 10_level_1)    0 non-null float64
(Jornada 2, Unnamed: 11_level_1)    0 non-null float64
dtypes: float64(6), object(6)
memory usage: 1.1+ KB
*****************************15*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 12 columns):
(Jornada 3, Local)                  10 non-null object
(Jornada 3, Resultado)              10 non-null object
(Jornada 3, Visitante)              10 non-null object
(Jornada 3, Estadio)                10 non-null object
(Jornada 3, Fecha)                  10 non-null object
(Jornada 3, Hora)                   10 non-null object
(Jornada 3, Unnamed: 6_level_1)     0 non-null float64
(Jornada 3, Unnamed: 7_level_1)     0 non-null float64
(Jornada 3, Unnamed: 8_level_1)     0 non-null float64
(Jornada 3, Unnamed: 9_level_1)     0 non-null float64
(Jornada 3, Unnamed: 10_level_1)    0 non-null float64
(Jornada 3, Unnamed: 11_level_1)    0 non-null float64
dtypes: float64(6), object(6)
memory usage: 1.1+ KB
*****************************16*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 12 columns):
(Jornada 4, Local)                  10 non-null object
(Jornada 4, Resultado)              10 non-null object
(Jornada 4, Visitante)              10 non-null object
(Jornada 4, Estadio)                10 non-null object
(Jornada 4, Fecha)                  10 non-null object
(Jornada 4, Hora)                   10 non-null object
(Jornada 4, Unnamed: 6_level_1)     0 non-null float64
(Jornada 4, Unnamed: 7_level_1)     0 non-null float64
(Jornada 4, Unnamed: 8_level_1)     0 non-null float64
(Jornada 4, Unnamed: 9_level_1)     0 non-null float64
(Jornada 4, Unnamed: 10_level_1)    0 non-null float64
(Jornada 4, Unnamed: 11_level_1)    0 non-null float64
dtypes: float64(6), object(6)
memory usage: 1.1+ KB
*****************************17*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 12 columns):
(Jornada 5, Local)                  10 non-null object
(Jornada 5, Resultado)              10 non-null object
(Jornada 5, Visitante)              10 non-null object
(Jornada 5, Estadio)                10 non-null object
(Jornada 5, Fecha)                  10 non-null object
(Jornada 5, Hora)                   10 non-null object
(Jornada 5, Unnamed: 6_level_1)     0 non-null float64
(Jornada 5, Unnamed: 7_level_1)     0 non-null float64
(Jornada 5, Unnamed: 8_level_1)     0 non-null float64
(Jornada 5, Unnamed: 9_level_1)     0 non-null float64
(Jornada 5, Unnamed: 10_level_1)    0 non-null float64
(Jornada 5, Unnamed: 11_level_1)    0 non-null float64
dtypes: float64(6), object(6)
memory usage: 1.1+ KB
*****************************18*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 12 columns):
(Jornada 6, Local)                  10 non-null object
(Jornada 6, Resultado)              10 non-null object
(Jornada 6, Visitante)              10 non-null object
(Jornada 6, Estadio)                10 non-null object
(Jornada 6, Fecha)                  10 non-null object
(Jornada 6, Hora)                   10 non-null object
(Jornada 6, Unnamed: 6_level_1)     0 non-null float64
(Jornada 6, Unnamed: 7_level_1)     0 non-null float64
(Jornada 6, Unnamed: 8_level_1)     0 non-null float64
(Jornada 6, Unnamed: 9_level_1)     0 non-null float64
(Jornada 6, Unnamed: 10_level_1)    0 non-null float64
(Jornada 6, Unnamed: 11_level_1)    0 non-null float64
dtypes: float64(6), object(6)
memory usage: 1.1+ KB
*****************************19*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 12 columns):
(Jornada 7, Local)                  10 non-null object
(Jornada 7, Resultado)              10 non-null object
(Jornada 7, Visitante)              10 non-null object
(Jornada 7, Estadio)                10 non-null object
(Jornada 7, Fecha)                  10 non-null object
(Jornada 7, Hora)                   10 non-null object
(Jornada 7, Unnamed: 6_level_1)     0 non-null float64
(Jornada 7, Unnamed: 7_level_1)     0 non-null float64
(Jornada 7, Unnamed: 8_level_1)     0 non-null float64
(Jornada 7, Unnamed: 9_level_1)     0 non-null float64
(Jornada 7, Unnamed: 10_level_1)    0 non-null float64
(Jornada 7, Unnamed: 11_level_1)    0 non-null float64
dtypes: float64(6), object(6)
memory usage: 1.1+ KB
*****************************20*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
(Jornada 8, Local)                  10 non-null object
(Jornada 8, Resultado)              10 non-null object
(Jornada 8, Visitante)              10 non-null object
(Jornada 8, Estadio)                10 non-null object
(Jornada 8, Fecha)                  10 non-null object
(Jornada 8, Hora)                   10 non-null object
(Jornada 8, Unnamed: 6_level_1)     0 non-null float64
(Jornada 8, Unnamed: 7_level_1)     0 non-null float64
(Jornada 8, Unnamed: 8_level_1)     0 non-null float64
(Jornada 8, Unnamed: 9_level_1)     0 non-null float64
(Jornada 8, Unnamed: 10_level_1)    0 non-null float64
dtypes: float64(5), object(6)
memory usage: 1008.0+ bytes
*****************************21*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
(Jornada 9, Local)                  10 non-null object
(Jornada 9, Resultado)              10 non-null object
(Jornada 9, Visitante)              10 non-null object
(Jornada 9, Estadio)                10 non-null object
(Jornada 9, Fecha)                  10 non-null object
(Jornada 9, Hora)                   10 non-null object
(Jornada 9, Unnamed: 6_level_1)     0 non-null float64
(Jornada 9, Unnamed: 7_level_1)     0 non-null float64
(Jornada 9, Unnamed: 8_level_1)     0 non-null float64
(Jornada 9, Unnamed: 9_level_1)     0 non-null float64
(Jornada 9, Unnamed: 10_level_1)    0 non-null float64
dtypes: float64(5), object(6)
memory usage: 1008.0+ bytes
*****************************22*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
(Jornada 10, Local)                 10 non-null object
(Jornada 10, Resultado)             10 non-null object
(Jornada 10, Visitante)             10 non-null object
(Jornada 10, Estadio)               10 non-null object
(Jornada 10, Fecha)                 10 non-null object
(Jornada 10, Hora)                  10 non-null object
(Jornada 10, Unnamed: 6_level_1)    0 non-null float64
(Jornada 10, Unnamed: 7_level_1)    0 non-null float64
(Jornada 10, Unnamed: 8_level_1)    0 non-null float64
(Jornada 10, Unnamed: 9_level_1)    0 non-null float64
dtypes: float64(4), object(6)
memory usage: 928.0+ bytes
*****************************23*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 12 columns):
(Jornada 11, Local)                  10 non-null object
(Jornada 11, Resultado)              10 non-null object
(Jornada 11, Visitante)              10 non-null object
(Jornada 11, Estadio)                10 non-null object
(Jornada 11, Fecha)                  10 non-null object
(Jornada 11, Hora)                   10 non-null object
(Jornada 11, Unnamed: 6_level_1)     0 non-null float64
(Jornada 11, Unnamed: 7_level_1)     0 non-null float64
(Jornada 11, Unnamed: 8_level_1)     0 non-null float64
(Jornada 11, Unnamed: 9_level_1)     0 non-null float64
(Jornada 11, Unnamed: 10_level_1)    0 non-null float64
(Jornada 11, Unnamed: 11_level_1)    0 non-null float64
dtypes: float64(6), object(6)
memory usage: 1.1+ KB
*****************************24*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 12 columns):
(Jornada 12, Local)                  10 non-null object
(Jornada 12, Resultado)              10 non-null object
(Jornada 12, Visitante)              10 non-null object
(Jornada 12, Estadio)                10 non-null object
(Jornada 12, Fecha)                  10 non-null object
(Jornada 12, Hora)                   10 non-null object
(Jornada 12, Unnamed: 6_level_1)     0 non-null float64
(Jornada 12, Unnamed: 7_level_1)     0 non-null float64
(Jornada 12, Unnamed: 8_level_1)     0 non-null float64
(Jornada 12, Unnamed: 9_level_1)     0 non-null float64
(Jornada 12, Unnamed: 10_level_1)    0 non-null float64
(Jornada 12, Unnamed: 11_level_1)    0 non-null float64
dtypes: float64(6), object(6)
memory usage: 1.1+ KB
*****************************25*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
(Jornada 13, Local)                  10 non-null object
(Jornada 13, Resultado)              10 non-null object
(Jornada 13, Visitante)              10 non-null object
(Jornada 13, Estadio)                10 non-null object
(Jornada 13, Fecha)                  10 non-null object
(Jornada 13, Hora)                   10 non-null object
(Jornada 13, Unnamed: 6_level_1)     0 non-null float64
(Jornada 13, Unnamed: 7_level_1)     0 non-null float64
(Jornada 13, Unnamed: 8_level_1)     0 non-null float64
(Jornada 13, Unnamed: 9_level_1)     0 non-null float64
(Jornada 13, Unnamed: 10_level_1)    0 non-null float64
dtypes: float64(5), object(6)
memory usage: 1008.0+ bytes
*****************************26*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
(Jornada 14, Local)                  10 non-null object
(Jornada 14, Resultado)              10 non-null object
(Jornada 14, Visitante)              10 non-null object
(Jornada 14, Estadio)                10 non-null object
(Jornada 14, Fecha)                  10 non-null object
(Jornada 14, Hora)                   10 non-null object
(Jornada 14, Unnamed: 6_level_1)     0 non-null float64
(Jornada 14, Unnamed: 7_level_1)     0 non-null float64
(Jornada 14, Unnamed: 8_level_1)     0 non-null float64
(Jornada 14, Unnamed: 9_level_1)     0 non-null float64
(Jornada 14, Unnamed: 10_level_1)    0 non-null float64
dtypes: float64(5), object(6)
memory usage: 1008.0+ bytes
*****************************27*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
(Jornada 15, Local)                  10 non-null object
(Jornada 15, Resultado)              10 non-null object
(Jornada 15, Visitante)              10 non-null object
(Jornada 15, Estadio)                10 non-null object
(Jornada 15, Fecha)                  10 non-null object
(Jornada 15, Hora)                   10 non-null object
(Jornada 15, Unnamed: 6_level_1)     0 non-null float64
(Jornada 15, Unnamed: 7_level_1)     0 non-null float64
(Jornada 15, Unnamed: 8_level_1)     0 non-null float64
(Jornada 15, Unnamed: 9_level_1)     0 non-null float64
(Jornada 15, Unnamed: 10_level_1)    0 non-null float64
dtypes: float64(5), object(6)
memory usage: 1008.0+ bytes
*****************************28*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
(Jornada 16, Local)                  10 non-null object
(Jornada 16, Resultado)              10 non-null object
(Jornada 16, Visitante)              10 non-null object
(Jornada 16, Estadio)                10 non-null object
(Jornada 16, Fecha)                  10 non-null object
(Jornada 16, Hora)                   10 non-null object
(Jornada 16, Unnamed: 6_level_1)     0 non-null float64
(Jornada 16, Unnamed: 7_level_1)     0 non-null float64
(Jornada 16, Unnamed: 8_level_1)     0 non-null float64
(Jornada 16, Unnamed: 9_level_1)     0 non-null float64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 12 columns):
(Jornada 30, Local)                  10 non-null object
(Jornada 30, Resultado)              10 non-null object
(Jornada 30, Visitante)              10 non-null object
(Jornada 30, Estadio)                10 non-null object
(Jornada 30, Fecha)                  10 non-null object
(Jornada 30, Hora)                   10 non-null object
(Jornada 30, Unnamed: 6_level_1)     0 non-null float64
(Jornada 30, Unnamed: 7_level_1)     0 non-null float64
(Jornada 30, Unnamed: 8_level_1)     0 non-null float64
(Jornada 30, Unnamed: 9_level_1)     0 non-null float64
(Jornada 30, Unnamed: 10_level_1)    0 non-null float64
(Jornada 30, Unnamed: 11_level_1)    0 non-null float64
dtypes: float64(6), object(6)
memory usage: 1.1+ KB
*****************************43*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 12 columns):
(Jornada 31, Local)                  10 non-null object
(Jornada 31, Resultado)              10 non-null object
(Jornada 31, Visitante)              10 non-null object
(Jornada 31, Estadio)                10 non-null object
(Jornada 31, Fecha)                  10 non-null object
(Jornada 31, Hora)                   10 non-null object
(Jornada 31, Unnamed: 6_level_1)     0 non-null float64
(Jornada 31, Unnamed: 7_level_1)     0 non-null float64
(Jornada 31, Unnamed: 8_level_1)     0 non-null float64
(Jornada 31, Unnamed: 9_level_1)     0 non-null float64
(Jornada 31, Unnamed: 10_level_1)    0 non-null float64
(Jornada 31, Unnamed: 11_level_1)    0 non-null float64
dtypes: float64(6), object(6)
memory usage: 1.1+ KB
*****************************44*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
(Jornada 32, Local)                  10 non-null object
(Jornada 32, Resultado)              10 non-null object
(Jornada 32, Visitante)              10 non-null object
(Jornada 32, Estadio)                10 non-null object
(Jornada 32, Fecha)                  10 non-null object
(Jornada 32, Hora)                   10 non-null object
(Jornada 32, Unnamed: 6_level_1)     0 non-null float64
(Jornada 32, Unnamed: 7_level_1)     0 non-null float64
(Jornada 32, Unnamed: 8_level_1)     0 non-null float64
(Jornada 32, Unnamed: 9_level_1)     0 non-null float64
(Jornada 32, Unnamed: 10_level_1)    0 non-null float64
dtypes: float64(5), object(6)
memory usage: 1008.0+ bytes
*****************************45*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
(Jornada 33, Local)                  10 non-null object
(Jornada 33, Resultado)              10 non-null object
(Jornada 33, Visitante)              10 non-null object
(Jornada 33, Estadio)                10 non-null object
(Jornada 33, Fecha)                  10 non-null object
(Jornada 33, Hora)                   10 non-null object
(Jornada 33, Unnamed: 6_level_1)     0 non-null float64
(Jornada 33, Unnamed: 7_level_1)     0 non-null float64
(Jornada 33, Unnamed: 8_level_1)     0 non-null float64
(Jornada 33, Unnamed: 9_level_1)     0 non-null float64
(Jornada 33, Unnamed: 10_level_1)    0 non-null float64
dtypes: float64(5), object(6)
memory usage: 1008.0+ bytes
*****************************46*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
(Jornada 34, Local)                  10 non-null object
(Jornada 34, Resultado)              10 non-null object
(Jornada 34, Visitante)              10 non-null object
(Jornada 34, Estadio)                10 non-null object
(Jornada 34, Fecha)                  10 non-null object
(Jornada 34, Hora)                   10 non-null object
(Jornada 34, Unnamed: 6_level_1)     0 non-null float64
(Jornada 34, Unnamed: 7_level_1)     0 non-null float64
(Jornada 34, Unnamed: 8_level_1)     0 non-null float64
(Jornada 34, Unnamed: 9_level_1)     0 non-null float64
(Jornada 34, Unnamed: 10_level_1)    0 non-null float64
dtypes: float64(5), object(6)
memory usage: 1008.0+ bytes
*****************************47*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
(Jornada 35, Local)                  10 non-null object
(Jornada 35, Resultado)              10 non-null object
(Jornada 35, Visitante)              10 non-null object
(Jornada 35, Estadio)                10 non-null object
(Jornada 35, Fecha)                  10 non-null object
(Jornada 35, Hora)                   10 non-null object
(Jornada 35, Unnamed: 6_level_1)     0 non-null float64
(Jornada 35, Unnamed: 7_level_1)     0 non-null float64
(Jornada 35, Unnamed: 8_level_1)     0 non-null float64
(Jornada 35, Unnamed: 9_level_1)     0 non-null float64
(Jornada 35, Unnamed: 10_level_1)    0 non-null float64
dtypes: float64(5), object(6)
memory usage: 1008.0+ bytes
*****************************48*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
(Jornada 36, Local)                  10 non-null object
(Jornada 36, Resultado)              10 non-null object
(Jornada 36, Visitante)              10 non-null object
(Jornada 36, Estadio)                10 non-null object
(Jornada 36, Fecha)                  10 non-null object
(Jornada 36, Hora)                   10 non-null object
(Jornada 36, Unnamed: 6_level_1)     0 non-null float64
(Jornada 36, Unnamed: 7_level_1)     0 non-null float64
(Jornada 36, Unnamed: 8_level_1)     0 non-null float64
(Jornada 36, Unnamed: 9_level_1)     0 non-null float64
(Jornada 36, Unnamed: 10_level_1)    0 non-null float64
dtypes: float64(5), object(6)
memory usage: 1008.0+ bytes
*****************************49*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
(Jornada 37, Local)                 10 non-null object
(Jornada 37, Resultado)             10 non-null object
(Jornada 37, Visitante)             10 non-null object
(Jornada 37, Estadio)               10 non-null object
(Jornada 37, Fecha)                 10 non-null object
(Jornada 37, Hora)                  10 non-null object
(Jornada 37, Unnamed: 6_level_1)    0 non-null float64
(Jornada 37, Unnamed: 7_level_1)    0 non-null float64
(Jornada 37, Unnamed: 8_level_1)    0 non-null float64
(Jornada 37, Unnamed: 9_level_1)    0 non-null float64
dtypes: float64(4), object(6)
memory usage: 928.0+ bytes
*****************************50*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
(Jornada 38, Local)                  10 non-null object
(Jornada 38, Resultado)              10 non-null object
(Jornada 38, Visitante)              10 non-null object
(Jornada 38, Estadio)                10 non-null object
(Jornada 38, Fecha)                  10 non-null object
(Jornada 38, Hora)                   10 non-null object
(Jornada 38, Unnamed: 6_level_1)     0 non-null float64
(Jornada 38, Unnamed: 7_level_1)     0 non-null float64
(Jornada 38, Unnamed: 8_level_1)     0 non-null float64
(Jornada 38, Unnamed: 9_level_1)     0 non-null float64
(Jornada 38, Unnamed: 10_level_1)    0 non-null float64
dtypes: float64(5), object(6)
memory usage: 1008.0+ bytes
*****************************51*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 1 columns):
0    1 non-null object
dtypes: object(1)
memory usage: 136.0+ bytes
*****************************52*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 7 columns):
0    26 non-null object
1    26 non-null object
2    25 non-null object
3    25 non-null object
4    25 non-null object
5    25 non-null object
6    25 non-null object
dtypes: object(7)
memory usage: 1.5+ KB
*****************************53*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
Jugador    10 non-null object
G.         10 non-null int64
Part.      10 non-null int64
Prom.      10 non-null float64
Min.       10 non-null int64
M/G        10 non-null int64
Club       10 non-null object
dtypes: float64(1), int64(4), object(2)
memory usage: 688.0+ bytes
*****************************54*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 7 columns):
0    1 non-null object
1    1 non-null object
2    1 non-null object
3    1 non-null object
4    1 non-null object
5    1 non-null object
6    1 non-null object
dtypes: object(7)
memory usage: 184.0+ bytes
*****************************55*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 7 columns):
Jugador    11 non-null object
A.         11 non-null int64
Part.      11 non-null int64
Prom.      11 non-null float64
Min.       11 non-null int64
M/A        11 non-null int64
Club       11 non-null object
dtypes: float64(1), int64(4), object(2)
memory usage: 744.0+ bytes
*****************************56*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 7 columns):
0    1 non-null object
1    1 non-null object
2    1 non-null object
3    1 non-null object
4    1 non-null object
5    1 non-null object
6    1 non-null object
dtypes: object(7)
memory usage: 184.0+ bytes
*****************************57*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 7 columns):
Fecha        32 non-null object
Jugador      32 non-null object
Minuto       32 non-null object
Local        32 non-null object
Resultado    32 non-null object
Visitante    32 non-null object
Jornada      32 non-null object
dtypes: object(7)
memory usage: 1.9+ KB
*****************************58*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 1 columns):
0    1 non-null object
dtypes: object(1)
memory usage: 136.0+ bytes
*****************************59*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 9 columns):
Jugador    5 non-null object
Club       5 non-null object
P.I.       5 non-null int64
Part.      5 non-null int64
Prom.      5 non-null object
G.E.       5 non-null int64
G.P.       5 non-null float64
Par.       5 non-null int64
%Par.      5 non-null object
dtypes: float64(1), int64(4), object(4)
memory usage: 488.0+ bytes
*****************************60*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 9 columns):
0    1 non-null object
1    1 non-null object
2    1 non-null object
3    1 non-null object
4    1 non-null object
5    1 non-null object
6    1 non-null object
7    1 non-null object
8    1 non-null object
dtypes: object(9)
memory usage: 200.0+ bytes
*****************************61*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 7 columns):
Fecha        13 non-null object
Jugador      13 non-null object
Goles        13 non-null object
Local        13 non-null object
Resultado    13 non-null object
Visitante    13 non-null object
Jornada      13 non-null object
dtypes: object(7)
memory usage: 856.0+ bytes
*****************************62*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 9 columns):
0    30 non-null object
1    28 non-null object
2    27 non-null object
3    28 non-null object
4    14 non-null object
5    14 non-null object
6    4 non-null object
7    4 non-null object
8    4 non-null object
dtypes: object(9)
memory usage: 2.2+ KB
*****************************63*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
Jugador       6 non-null object
Club          6 non-null object
Unnamed: 2    6 non-null int64
Part.         6 non-null int64
A.P.          6 non-null float64
Prom.         6 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 416.0+ bytes
*****************************64*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 9 columns):
0    1 non-null object
1    1 non-null object
2    1 non-null object
3    1 non-null object
4    1 non-null object
5    1 non-null object
6    1 non-null object
7    1 non-null object
8    1 non-null object
dtypes: object(9)
memory usage: 200.0+ bytes
*****************************65*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
Jugador       3 non-null object
Club          3 non-null object
Unnamed: 2    3 non-null int64
Part.         2 non-null float64
R.P.          2 non-null float64
Prom.         2 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 272.0+ bytes
*****************************66*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 9 columns):
0    1 non-null object
1    1 non-null object
2    1 non-null object
3    1 non-null object
4    1 non-null object
5    1 non-null object
6    1 non-null object
7    1 non-null object
8    1 non-null object
dtypes: object(9)
memory usage: 200.0+ bytes
*****************************67*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
Club          7 non-null object
Unnamed: 1    7 non-null int64
Part.         7 non-null int64
A.P.          7 non-null float64
dtypes: float64(1), int64(2), object(1)
memory usage: 352.0+ bytes
*****************************68*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 9 columns):
0    1 non-null object
1    1 non-null object
2    1 non-null object
3    1 non-null object
4    1 non-null object
5    1 non-null object
6    1 non-null object
7    1 non-null object
8    1 non-null object
dtypes: object(9)
memory usage: 200.0+ bytes
*****************************69*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
Club          5 non-null object
Unnamed: 1    5 non-null int64
Part.         5 non-null int64
R.P.          5 non-null float64
dtypes: float64(1), int64(2), object(1)
memory usage: 288.0+ bytes
*****************************70*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 9 columns):
0    1 non-null object
1    1 non-null object
2    1 non-null object
3    1 non-null object
4    1 non-null object
5    1 non-null object
6    1 non-null object
7    1 non-null object
8    1 non-null object
dtypes: object(9)
memory usage: 200.0+ bytes
*****************************71*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 8 columns):
(Mes, Mes)                       9 non-null object
(Entrenador del mes, Técnico)    9 non-null object
(Entrenador del mes, Equipo)     9 non-null object
(Jugador del mes, Jugador)       9 non-null object
(Jugador del mes, Equipo)        9 non-null object
(Gol del mes, Jugador)           9 non-null object
(Gol del mes, Equipo)            9 non-null object
(Ref., Ref.)                     9 non-null object
dtypes: object(8)
memory usage: 704.0+ bytes
*****************************72*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 11 columns):
(Entrenador de la temporada, Técnico)         1 non-null object
(Entrenador de la temporada, Equipo)          1 non-null object
(Jugador de la temporada, Jugador)            1 non-null object
(Jugador de la temporada, Equipo)             1 non-null object
(Gol de la temporada, Jugador)                1 non-null object
(Gol de la temporada, Equipo)                 1 non-null object
(Jugador juvenil de la temporada, Jugador)    1 non-null object
(Jugador juvenil de la temporada, Equipo)     1 non-null object
(FWA Footballer of the Year, Jugador)         1 non-null object
(FWA Footballer of the Year, Equipo)          1 non-null object
(Ref., Ref.)                                  1 non-null object
dtypes: object(11)
memory usage: 216.0+ bytes
*****************************73*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
Jugador       10 non-null object
Destino       10 non-null object
Origen        10 non-null object
Precio (€)    10 non-null object
Ref.          10 non-null object
dtypes: object(5)
memory usage: 528.0+ bytes
*****************************74*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 1 columns):
0    1 non-null object
dtypes: object(1)
memory usage: 136.0+ bytes
*****************************75*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
Jugador            10 non-null object
Club de destino    10 non-null object
Club de origen     10 non-null object
Precio (€)         10 non-null object
Ref.               0 non-null float64
dtypes: float64(1), object(4)
memory usage: 528.0+ bytes
*****************************76*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 1 columns):
0    1 non-null object
dtypes: object(1)
memory usage: 136.0+ bytes
*****************************77*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 2 columns):
0    1 non-null object
1    1 non-null object
dtypes: object(2)
memory usage: 144.0+ bytes

In [31]:
from sqlalchemy import create_engine

us='fesalu'
passwd = 'bdfes2023'
url = 'bd.arcelia.net'
puerto = '3306'
bd = 'bdcolegio02'
auth = 'mysql_native_password'

str_conn = 'mysql+mysqlconnector://{0}:{1}@{2}:{3}/{4}?auth_plugin={5}'
str_conn = str_conn.format(us, passwd,url,puerto,bd,auth)
str_conn

'mysql+mysqlconnector://fesalu:bdfes2023@bd.arcelia.net:3306/bdcolegio02?auth_plugin=mysql_native_password'

In [32]:
conn = create_engine(str_conn)
conn

Engine(mysql+mysqlconnector://fesalu:***@bd.arcelia.net:3306/bdcolegio02?auth_plugin=mysql_native_password)

In [44]:
sql = '''SELECT * from alumnos WHERE sexo = %s'''
df_mysql = pd.read_sql_query(sql=sql, con=conn, params=['F'])

In [47]:
df_mysql

,clave_alu,clave_admin,ap_paterno,ap_materno,nombre,sexo,curp,peso,estatura,direccion,colonia,cp,ciudad,id_estado,delegacion,telefono,celular,email,status_alu,fedita
0,11030172,4812,BORBOLLA,RAMOS,ARGELIA,F,,52.0,1.60,CLUB CAMPESTRE #867,CLUB CAMPESTRE,26190,QUERETARO,22,QUERETARO,4455497989,9612497989,argi_gogos@miemail.com,AC,2021-11-21 20:08:41
1,11030173,4849,CASTRO,MANCERA,KARLA MARIANA,F,,0.0,0.00,LAGO DE XOCHIMILCO 666,LOMAS DE SAN PABLO,26130,SANTIAGO DE QUERETARO,22,QUERETARO,,,,AC,2021-11-07 22:02:27
2,11030207,4808,AGUILAR,ZAMARRIPA,MICHELLE IVONNE,F,AUZM910928MQTGMC08,47.5,1.71,ECOLOGIA 689,TECNOLOGICO,26158,QUERETARO,22,QUERETARO,,,,AC,2021-10-04 20:53:54
3,11030218,4717,FLORES,NAMUR,MARIA FERNANDA,F,FONF910110MQTLMR00,58.0,1.62,BOTANICA#609,TECNOLOGICO,26158,QUERETARO,22,QUERETARO,4458585556,9618285226,maferfn@miemail.com,AC,2021-09-17 20:30:41
4,11030254,4724,GONZALEZ,DIAZ,CLAUDIA ALEJANDRA,F,GODC910202MDFNZL01,60.0,1.63,FRAY ANTONIO MARGIL DE JESUS #96,LOS MOLINOS 2DA. SECCION,26150,SANTIAGO DE QUERETARO,22,EPIGMENIO GONZALEZ,0444458170558,0449618170258,jlgg1504@telmart.com.mx,AC,2021-09-04 19:40:34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,11080201,,SOTO,ELIAS,PALOMA DENISSE,F,SOEP921030MQTTLL03,52.0,1.51,70 DE NOVIEMBRE NO. 7 PTE.,CENTRO SANTA ROSA JAUREGUI,26220,QUERETARO,22,SANTA ROSA JAUREGUI QRO,0444458775868,0449618772868,chiquis_palomit@miemail.com,AS,2023-03-12 16:41:30
279,11080202,,VALLES,RAMOS,MARIANA,F,VARM930602MCHLMR08,62.0,1.66,MARIO GONZALEZ #0,FRACCIONAMIENTO VILLA CORZO,32980,SAN JOSE ITURBIDE,12,SAN JOSE ITURBIDE,4191089618,4191089618,mariana_020693@miemail.com,AS,2023-03-10 14:00:21
280,11080205,,BADUY,VALDEZ,KENNIA ASENET,F,BAKV931111MQTDLN18,59.0,1.60,FRAY FRANCISCO DE LOS ANGELES #766,QUINTAS DEL MARQUEZ,26042,QUERETARO,22,QUERETARO,4451544548,9611244548,keny_625@miemail.com,AS,2023-03-12 19:45:44
281,11080208,,BECERRIL,HUERTA,MARIANA,F,BEHM930222MQTCRR06,52.0,1.59,PASEO DE SOFIA # 709,TEJEDA,26904,QUERETARO,22,CORREGIDORA,4458448574,9618448574,mane_chiquis@miemail.com,AS,2023-03-11 19:46:25
282,11080209,NULL,MORALES,CARMONA,KARLA MARIANA,F,,NaN,NaN,None,None,None,None,18,None,None,None,None,AS,2023-04-15 20:48:37